{% extends "Cargill_blog/base.html" %}
{% block content %}
    <h1>Know More about Cargill</h1>
    <p>Company Overview
        We bring food, agricultural, financial and industrial products to people who need them all around the world.</p>
    <p>You learn a few things during 155 years in business. Today, we apply that expertise to serve customers and communities in 70 countries/regions. We have 155,000 employees working every day to nourish the world in a safe, responsible, sustainable way. Find out more about our global operations.</p>    
{% endblock content %}